body {
  background-color: gray;
  color: white;
  text-align: center;
}
.header {
  margin-top: 50px;
  color: lightyellow;
  text-align: center;
}
h3 {
  text-align: center;
  color: black;
}
.board-container {
  position: absolute;
  top: 150px;
  left: calc(50% - 130px);
}

.cell {
  width: 60px;
  height: 60px;
  color: black;
  font-size: 1.5em;
  border: 1px solid black;
}
.modal {
  display: none;
  border: solid 3px grey;
  width: 300px;
  height: 250px;
  background-color: rgb(222, 226, 228);
  color: black;
  font-size: 32px;

  position: absolute;
  top: 150px;
  left: calc(30% - 150px);
}

.restart-btn {
  margin-top: 20px;
  background-color: black;
  color: rgb(230, 221, 221);
  padding: 10px;
  cursor: pointer;
}
