body {
  background-color: gray;
  color: white;
  text-align: center;
}
.header {
  margin: auto;
  margin-top: 50px;
  height: 30px;
  width: 400px;
  padding: 20px;
  color: rgb(229, 15, 15);
  background-color: black;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
}
.timer {
  margin: auto;
  height: 20px;
  width: 50px;
  padding: 10px;
  font-size: larger;
  font-style: italic;
  font-weight: bold;
  border-radius: 5px;
  background-color: rgb(21, 19, 3);
}
h3 {
  margin: auto;
  text-align: center;
  color: black;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
}
.board-container {
  margin-top: 35px;
  position: absolute;
  top: 150px;
  left: calc(50% - 130px);
}

.cell {
  width: 60px;
  height: 60px;
  color: black;
  font-size: 1.5em;
  border: 1px solid black;
}
.modal {
  display: none;
  border: solid 3px grey;
  width: 300px;
  height: 250px;
  background-color: rgb(222, 226, 228);
  color: black;
  font-size: 32px;

  position: absolute;
  top: 150px;
  left: calc(30% - 150px);
}

.restart-btn {
  margin-top: 20px;
  background-color: black;
  color: rgb(230, 221, 221);
  padding: 10px;
  cursor: pointer;
}
